/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Feb 2020, 09:51:12
    Author     : edwin
*/

body, html {
    height: 100%;
    background-image: url("../images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detailButton {
    bottom: 5;
}

.bg {
    background-color: #323232;
    padding: 20px;
    width: 35%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.thick-border {
    border: 1px solid black;
}

.round-border {
    border-radius: 5px;
}

.box {
    background-color: black;
}

.card {
  background-color: transparent;
  width: 170px;
  height: 250px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 70px;
}

/* This container is needed to position the front and back side */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    background-color: aqua;
    color: black;
}

/* Style the back side */
.card-back {
  background-image: url("../images/cardbg.jpg");
  color: white;
  transform: rotateY(180deg);
}

.addButton {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

.removeButton {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: aquamarine;
}
#searchbar {
    display: block;
    text-align: center;
}

.white-text {
    color: white;
}

.transparent {
    opacity: 0.8;
}

.login{
    margin: 20px auto;
    width: 70%;
}

.input {
    width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
  -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  color: #fff;
	display: inline-block;
	position: relative;
}
p{
  margin-top: 4rem;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1
}
.mega {
  font-size: 1rem; /* 72 / 18 = 4 */
  margin-bottom: 0.5rem;
}

/* ==== Typefaces  ==== */

.libre-baskerville{font-family: 'Libre Baskerville'}


/* ==== Weights, styles, letterspacing, etc. ==== */

.regular{font-weight: 400;}
.ls-small{letter-spacing: 2px;}
.ls-large{letter-spacing: 8px;}
.uppercase{text-transform: uppercase;}
.color-emphasis-3{color: #fff}

/* ===== Flourish, heading horizontal lines, etc. ==== */

.decorative-span{
  display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
	color: #fff;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}
